<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      input:valid, select:valid {
        background-color: palegreen;
      }
      input:invalid, select:invalid {
        background-color: lightpink;
      }
      input, label, select {
        display: inline-grid;
        font-size: 1em;
      }
      body {
        font-family: Helvetica, Arial, sans-serif;
        background-color: LightSkyBlue;
        margin-left: 1px;
        margin-right: 4px;
      }
    </style>
    <title>EA DCF</title>
  </head>
  <body> 
    <h1 style="color:DarkGreen;">ERS GHWiz</h1>
    v47
    <a href="/GHWizDefaults.txt" target="_blank">GHWiz house defaults</a>
    <p>
    <form action="/cgi-bin/ghww.py" method="get" id="aanq" autocomplete="off">
    <!-- field names prefixed with '_' will be converted to house template macros -->
    <label>File ID
      <input name="_FileID" pattern="[\w]{4}D[\d]{5}" autocapitalize=characters required style="width: 11ch" onchange="document.title = this.value">
    </label>
    <label>Tax number
      <input name="_AAN" type="tel" size=8 pattern="[\d]{8}" required onchange="findAAN(this.value)">
    </label>
    <label>House faces
      <select name="FacingDirection" required>
        <option value="">choose</option>
        <option value="1">south</option>
        <option value="2">sou'east</option>
        <option value="3">east</option>
        <option value="4">nor'east</option>
        <option value="5">north</option>
        <option value="6">nor'west</option>
        <option value="7">west</option>
        <option value="8">sou'west</option>
      </select>
    </label>
    <label>Storeys
      <select name="_Storeys" required>
        <option value="">choose</option>
        <option value="1">1 storey</option>
        <option value="2">1.5</option>
        <option value="3">2 storey</option>
        <option value="4">2.5</option>
        <option value="5">3 storey</option>
        <option value="6">split lvl</option>
        <option value="7">splt ntry</option>
      </select>
    </label>
    <pre id="taxdb">Tax number required</pre>
    <label>Client first name<input name="_First" required style="width: 14ch"></label>
    <label>Client last name<input name="_Last" required style="width: 18ch"></label>
    <label>Telephone<input type="tel" name="_Telephone" style="width: 12ch"></label>
    <label>email<input type="email" name="_Email" style="width: 23ch"></label>
    <br>
    <label>Street<input name="_Street" style="width: 20ch"></label>
    <label>City<input name="_City" style="width: 15ch"></label>
    <label>Province<input name="_Province" size=10></label>
    <label>Postal<input name="_Postal" size=5></label><br>
    <label>Yr built<input name="_YearBuilt" required type="tel" pattern="[\d]{4}" size=3></label>
    <label>Weather station<input name="weather" size="10"></label><br>
    <p>
    Interior dimensions:<br>
    <label>MPerim<input name="mperim" type="tel" required style="width: 5ch"></label>
    <label>MArea<input name="marea" type="tel" required style="width: 5ch"></label>
    <label title="Above Foundation Wall Height">WHgt
      <input name="aflht" type="tel" required style="width: 4ch">
    </label>
    <label>TA &#916<input name="ta_delta" style="width: 4ch"></label>
    <label>TP &#916<input name="tp_delta" style="width: 4ch"></label>
    <label title="Above Grade Height of Highest Ceiling">AGHHC
      <input name="_AGCHt" type="tel" required data-units="ftm" style="width: 4ch">
    </label>
    <p>
    <label>Main walls
      <select name="wall" required>
        <option value="">choose</option>
        <option>2x6R19</option>
        <option>2x6R24</option>
        <option>2x4R12</option>
        <option>ICF</option>
        <option>2x4 RC</option>
        <option>2x4R14</option>
      </select>
    </label>
    <label>+foam
      <select name="foam">
        <option>none</option>
        <option>1" EPS</option>
        <option>1" XPS</option>
        <option>1.5 EPS</option>
      </select>
    </label>
    <label>headers
      <select>
        <option>none</option>
        <option>2x8</option>
        <option selected>2x10</option>
        <option>12"</option>
      </select>
    </label>
    <label>R-
      <input type="tel" required pattern="[\d]{1,2}" size=2>
    </label>
    <p>
    <label>Attic
      <select>
        <option>gable</option>
        <option>hip</option>
        <option>cathedral</option>
        <option>flat</option>
        <option>scissor</option>
      </select>
    </label>
    <label>Insulation
      <select required>
        <option value="">choose</option>
        <option>cellulose</option>
        <option>fibreglas</option>
        <option>FG batt</option>
        <option>LD foam</option>
      </select>
    </label>
    <label>depth
      <input type="tel" pattern="[\d]{1,2}" required size=2 placeholder="inch">
    </label>
    <p>
    <div v-scope="{fnd: 'bsmt'}">
      <label>foundation
        <select name="_Foundation" v-model="fnd">
          <option>bsmt</option>
          <option>slab</option>
        </select>
      </label>
      <span v-if="fnd == 'bsmt'">
        <label title="bsmt wall height">height
          <input name="_BHt" inputmode="numeric" pattern="[\d]i{2,3)" data-units="inm" size=2 required placeholder="inch">
        </label>
        <label>interior
          <select>
            <option>2x4R12</option>
            <option>2x6R19</option>
            <option>1" EPS</option>
            <option>2" EPS</option>
            <option>none</option>
          </select>
        </label>
        <label title="average foundation height above ground">HAG
          <input name="HAG" type="tel" pattern="[\d]+" size=2 required placeholder="inch">
        </label>
        <label title="height in inches">pony
          <input name="_PonyHt" type="tel" pattern="[\d\.]+" data-units="inm" size=2 required placeholder="inch">
        </label>
      </span>
      <span v-if="fnd == 'slab'">
        <label>R-value
          <input type="tel" pattern="[\d]{1,2}" size=2>
        </label>
      </span>
    </div>
    <div v-scope="{type1: 'electric'}">
      <br>Mechanical 
      <!--
      <a href="https://oee.nrcan.gc.ca/pml-lmp/index.cfm?action=app.search-recherche&appliance=HP_SS" target="_blank">NRCan ASHP lookup</a><br>
      -->
      <a href="http://ahridirectory.org" target="_blank">AHRI Directory</a><br>
      <label>Heat
        <select name="_Heat" v-model="type1">
          <option>electric</option>
          <option>boiler</option>
          <option>furnace</option>
        </select>
      </label>
      <label>HP AHRI#<input type="tel" pattern="[\d]{6,9}" name="AHRI" size=7></label>
      <label>Note<input size=8></label>
      <label>Supplemental heat<input size=25></label>
      <p>
      <label>DHW
        <select name="_DHWtype">
          <option>electric</option>
          <option>oil</option>
          <option>gas</option>
          <option v-if="type1 == 'boiler'">coil</option>
        </select>
      </label>
      <label>Litres<input type="tel" pattern="[\d]*" name="_DHWL" required style="width: 3ch"></label>
      <label>Note<input size=7></label>
      <label>R5 wrap<input type="checkbox"></label>
      <p>
      <label>HRV make<input name="_HRVmake" size=7></label>
      <label>model<input name="_HRVmodel" size=6></label> 
      <label>fans<input type="tel" required pattern="[012]" style="width: 2ch"></label> 
      <label>hood<input type="checkbox"></label>
      <p>
      <label>PV W DC<input style="width: 6ch"></label>
    </div>
    <div v-scope="{counts: {WndwF: 8, WndwL: 8, WndwB: 8, WndwR: 8}}">
      <template id="H2KWindow-tmpl">
        <td>
          <select :name="'_T' + wname + c">
            <option value="Code 100012">100012</option>
            <option value="Code 200004">200004</option>
            <option value="Code 200024" selected>200024</option>
            <option value="Code 233214">233214</option>
            <option value="Code 233224">233224</option>
            <option value="Code 233204">233204</option>
            <option value="Code 200045">200045</option>
            <option value="Code 233245">233245</option>
          </select>
        </td>
        <td><input type="tel" :name="'_C' + wname + c" value="1" maxlength="1" pattern="[\d]" style="width: 2ch"></td>
        <td><input type="tel" :name="'H' + wname + c" value="0" style="width: 3ch"></td>
        <!--
        <td><input type="tel" :data-var="wname" :name="'H' + wname + c" value="0" style="width: 3ch"></td>
          @blur="addWindow(event.target, counts)"></td>
        -->
        <td><input type="tel" :name="'W' + wname + c" value="0" style="width: 3ch"></td>
        <td><input :name="'_N' + wname + c" style="width: 10ch"></td>
      </template>
      <br>
          Windows: <a href="/WindowCodes.txt" target="_blank">H2K window codes</a>
        <table>
          <tr><th>L</th><th>Type</th><th>#</th><th>Hgt</th><th>W-d</th><th>Note</th></tr>
          <template v-for="c in counts['WndwF']">
            <tr v-scope="H2KWindow({wname: 'WndwF'})"><td>fr{{c}}</td></tr>
          </template>
          <template v-for="c in counts['WndwL']">
            <tr v-scope="H2KWindow({wname: 'WndwL'})"><td>lf{{c}}</td></tr>
          </template>
          <template v-for="c in counts['WndwB']">
            <tr v-scope="H2KWindow({wname: 'WndwB'})"><td>bk{{c}}</td></tr>
          </template>
          <template v-for="c in counts['WndwR']">
            <tr v-scope="H2KWindow({wname: 'WndwR'})"><td>rt{{c}}</td></tr>
          </template>
        </table>
    </div>
    <div v-scope="{doors: 2}" >
    <br>
    <label style="display:inline"> Doors:
      <input inputmode=numeric size=2 pattern="[1-9]" v-model.number="doors">
      <!-- <input type="tel" required size=2 maxlength=1 pattern="[1-9]"> -->
    </label>
    <table>
      <tr><th>Type</th><th>Hgt</th><th>W-d</th><th>lite</th></tr>
      <tr v-for="i in doors">
        <td>
          <label>d{{i}}</label>
          <select name="Dtype">
            <option>steel</option>
            <option>fglass</option>
            <option>wood</option>
          </select>
        </td>
        <td>
          <input inputmode=numeric data-units="inm" value="81.5" :name="'_HDoor' + i" style="width: 3ch">
        </td>
        <td>
          <input inputmode=numeric data-units="inm" value="31.9" :name="'_WDoor' + i" style="width: 3ch">
        </td>
        <td><input size=11></td>
      </tr>
    </table>
    </div>
    <div v-scope="">
      <br>Air leakage sources:
      <table>
        <tr v-for="s in ['attic hatch', 'upper lights', 'panelboard', 'receptacles', 'switches', 'pipe holes', 'windows', 'doors', 'baseboard']">
          <td><label style="display:inline"><input type="checkbox">{{s}}</label></td>
          <td><input></td>
        </tr>
        <tr>
          <td><label style="display:inline"><input type="checkbox">other</label></td>
          <td><textarea style="width: 100%"></textarea></td>
      </table>
    </div>
    <input type="submit" value="make H2K file" onclick="checkDCF()">
    </form>
  <script src="ghw.js"></script>
  <script src="https://unpkg.com/petite-vue" defer init></script>
  <script>
    // unused func
    function addWindow(t, counts){
      if (t.value > 0) counts[t.getAttribute('data-var')]++;
    }

    // vue template function for window data entry
    function H2KWindow(props){
      return {
        $template: '#H2KWindow-tmpl',
        wname: props.wname
      }
    }
  </script>
  </body>
</html>
