<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      input:valid {
        background-color: palegreen;
      }
      input:invalid {
        background-color: lightpink;
      }
      input, label, select {
        display: inline-grid;
        font-size: 1em;
      }
      body {
        font-family: Helvetica, Arial, sans-serif;
        background-color: LightSkyBlue;
        margin-left: 1px;
        margin-right: 4px;
      }
    </style>
    <title>EA DCF</title>
  </head>
  <body> 
    <h1 style="color:DarkGreen;">ERS GHWiz</h1>
    <a href="/GHWizDefaults.txt" target="_blank">GHWiz house defaults</a>
    <p>
    <form action="/cgi-bin/ghww.py" method="get" id="aanq">
    <!-- field names prefixed with '_' will be converted to house template macros -->
    <label>File ID <input name="_FileID" pattern="[\w]{4}D[\d]{5}" required style="width: 11ch" onblur="setFID(this.value)"></label>
    <label>Tax number <input name="_AAN" type="tel" size=8 pattern="[\d]{8}" required onchange="findAAN(this.value)"></label>
    <label>House faces
      <select name="FacingDirection">
        <option value="1">south</option>
        <option value="2">sou'east</option>
        <option value="3">east</option>
        <option value="4">nor'east</option>
        <option value="5">north</option>
        <option value="6">nor'west</option>
        <option value="7">west</option>
        <option value="8">sou'west</option>
      </select>
    </label>
    <br>
    <br>Interior dimensions:<br>
    <label>MPerim<input name="mperim" type="tel" required style="width: 5ch"></label>
    <label>MArea<input name="marea" type="tel" required style="width: 5ch"></label>
    <label>AFLHt<input name="aflht" type="tel" style="width: 4ch"></label>
    <label>TA &#916<input name="ta_delta" type="tel" style="width: 4ch"></label>
    <label>TP &#916<input name="tp_delta" type="tel" style="width: 4ch"></label>
    <label>AGCHt<input name="_AGCHt" type="tel" required style="width: 4ch"></label>
    <p>
    <label>Client first name*<input name="_First" required style="width: 14ch"></label>
    <label>Client last name*<input name="_Last" required style="width: 18ch"></label>
    <label>Telephone<input type="tel" name="_Telephone" style="width: 12ch"></label>
    <label>email<input type="email" name="_Email" style="width: 25ch"></label>
    <br>
    <label>Street<input name="_Street" style="width: 20ch"></label>
    <label>City<input name="_City" style="width: 15ch"></label>
    <label>Province<input name="_Province" size=12></label>
    <label>Postal<input name="_Postal" size=6></label><br>
    <label>Year built<input name="_YearBuilt" size=4></label>
    <label>Weather station<input name="weather"></label><br>
    <div>
    <br>
    <label>Main walls
      <select name="walls">
        <option>2x6 R19</option>
        <option>2x4 R12</option>
      </select>
    </label>
    <label>Attic
      <select name="attic">
        <option>gable</option>
        <option>hip</option>
        <option>scissor</option>
      </select>
    </label>
    <label>Insulation
      <select name="fill">
        <option>cellulose</option>
        <option>fibreglas</option>
        <option>FG batt</option>
      </select>
    </label>
    <label>" deep
      <input type="tel" pattern="[\d]{1,2}" required size=2>
    </label>
    </div>
    <div v-scope="{fnd: 'bsmt'}">
      <br>
      <label>Foundation
        <select name="_Foundation" v-model="fnd">
          <option>bsmt</option>
          <option>slab</option>
        </select>
      </label>
      <span v-if="fnd == 'bsmt'">
        <label>Interior
          <select>
            <option>2x4 R12</option>
            <option>2x4 R20</option>
            <option>none</option>
          </select>
        </label>
        <label>HAG
          <input name="HAG" type="tel" pattern="[\d]{2,2}" size=2 value=56 required>
        </label>
        <label>Pony
          <input name="Pony" type="tel" pattern="[\d]{1,2}" size=2 value=50>
        </label>
      </span>
      <span v-if="fnd == 'slab'">
        <label>R-value
          <input type="tel" pattern="[\d]{1,2}" size=2>
        </label>
      </span>
    </div>
    <div>
      <br>Mechanical 
      <!--
      <a href="https://oee.nrcan.gc.ca/pml-lmp/index.cfm?action=app.search-recherche&appliance=HP_SS" target="_blank">NRCan ASHP lookup</a><br>
      -->
      <a href="http://ahridirectory.org" target="_blank">AHRI Directory</a><br>
      <label>Heat
        <select name="_Heat">
          <option>electric</option>
          <option>DV boiler</option>
          <option>FR boiler</option>
          <option>furnace</option>
        </select>
      </label>
      <label>HP AHRI#<input type="tel" pattern="[\d]{6,9}" name="AHRI" size=7></label>
      <label>Note<input name="HeatNote" size=8></label>
      <label>Supplemental heat<input size=30></label><br>
      <label>DHW
        <!-- todo: only show coil with boilers -->
        <select name="_DHW">
          <option>electric</option>
          <option>oil</option>
          <option>gas</option>
          <option>coil</option>
        </select>
      </label>
      <label>Litres<input type="tel" pattern="[\d]*" name="_DHWL" style="width: 3ch" value="189"></label>
      <label>Note<input name="DHWNote" size=6></label>
      <label>R5 wrap<input type="checkbox"></label><br>
      <label>HRV<input type="checkbox"></label>
      <label>make<input name="_HRVmake" size=6></label>
      <label>model<input name="_HRVmodel" size=6></label> 
      <label>fans<input name="_fancount" value=0 type="tel" pattern="[012]" style="width: 1ch"></label> 
      <label>hood<input type="checkbox"></label>
    </div>
    <div v-scope="{counts: {WndwF: 8, WndwL: 8, WndwB: 8, WndwR: 8}}">
      <template id="H2KWindow-tmpl">
        <td>
          <select :name="'_T' + wname + c">
            <option value="Code 200024">200024</option>
            <option value="Code 233214">233214</option>
            <option value="Code 233224">233224</option>
            <option value="Code 200004">200004</option>
            <option value="Code 233204">233204</option>
          </select>
        </td>
        <td><input type="tel" :name="'_C' + wname + c" value="1" maxlength="1" pattern="[\d]" style="width: 1ch"></td>
        <td><input type="tel" :name="'H' + wname + c" value="0" style="width: 3ch"></td>
        <!--
        <td><input type="tel" :data-var="wname" :name="'H' + wname + c" value="0" style="width: 3ch"></td>
          @blur="addWindow(event.target, counts)"></td>
        -->
        <td><input type="tel" :name="'W' + wname + c" value="0" style="width: 3ch"></td>
        <td><input :name="'_N' + wname + c" style="width: 10ch"></td>
      </template>
      <br>
      <details>
        <summary>
          Windows: <a href="/WindowCodes.txt" target="_blank">H2K window codes</a>
        </summary>
        <table>
          <tr><th>Name</th><th>Type</th><th>#</th><th>Hgt</th><th>W-d</th><th>Note</th></tr>
          <template v-for="c in counts['WndwF']">
            <tr v-scope="H2KWindow({wname: 'WndwF'})"><td>front{{c}}</td></tr>
          </template>
          <template v-for="c in counts['WndwL']">
            <tr v-scope="H2KWindow({wname: 'WndwL'})"><td>left{{c}}</td></tr>
          </template>
          <template v-for="c in counts['WndwB']">
            <tr v-scope="H2KWindow({wname: 'WndwB'})"><td>back{{c}}</td></tr>
          </template>
          <template v-for="c in counts['WndwR']">
            <tr v-scope="H2KWindow({wname: 'WndwR'})"><td>right{{c}}</td></tr>
          </template>
        </table>
      </details>
    </div>
    <div v-scope="{doors: 2}" >
    <br>
    <label style="display:inline"> Doors:
      <input type="tel" size=1 pattern="[\d]" v-model.number="doors">
    </label>
    <table>
      <tr><th>Type</th><th>Hgt</th><th>W-d</th><th>lite</th></tr>
      <tr v-for="i in doors">
        <td>
          <select name="Dtype">
            <option>steel</option>
            <option>wood</option>
          </select>
        </td>
        <td><input type="tel" style="width: 3ch"></td>
        <td><input type="tel" style="width: 3ch"></td>
        <td><input size=8"></td>
      </tr>
    </table>
    </div>
    <div v-scope="">
      <br>Air leakage sources:
      <table>
        <tr v-for="s in ['attic hatch', 'upper lights', 'breaker panel', 'receptacles', 'switches', 'pipe holes', 'windows', 'doors', 'other']">
          <td><label style="display:inline"><input type="checkbox">{{s}}</label></td>
          <td><input></td>
        </tr>
      </table>
    </div>
    <input type="submit" value="Create H2K file">
    </form>
  <script src="ghw.js"></script>
  <script src="https://unpkg.com/petite-vue" defer init></script>
  <script>
    <!-- unused func -->
    function addWindow(t, counts){
      if (t.value > 0) counts[t.getAttribute('data-var')]++;
    }

    <!-- window template func -->
    function H2KWindow(props){
      return {
        $template: '#H2KWindow-tmpl',
        wname: props.wname
      }
    }
  </script>
  </body>
</html>

