<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      input:valid {
        background-color: palegreen;
      }
      input:invalid {
        background-color: lightpink;
      }
      input, label, select {
        display: inline-grid;
        font-size: 1em;
      }
      body {
        font-family: Helvetica, Arial, sans-serif;
        background-color: LightSkyBlue;
        margin-left: 1px;
        margin-right: 4px;
      }
    </style>
    <title>EA DCF</title>
  </head>
  <body> 
    <h1 style="color:DarkGreen;">ERS GHWiz</h1>
    <form action="/cgi-bin/ghww.py" method="get" id="aanq">
    <!-- field names prefixed with '_' will be converted to house template macros -->
    <label>File ID <input name="_FileID" pattern="[\w]{4}D[\d]{5}" maxlength=10 size=10 required></label>
    <label>Tax number <input name="_AAN" type="tel" size=8 pattern="[\d]{8}" required onblur="findAAN(this.value)"></label>
    <label>Foundation
      <select name="_Foundation">
        <option>bsmt</option>
        <option>slab</option>
      </select>
    </label>
    <label>Heat
      <select name="_Heat">
        <option>electric</option>
        <option>boiler</option>
        <option>furnace</option>
      </select>
    </label>
    <label>House faces
      <select name="FacingDirection">
        <option value="1">south</option>
        <option value="2">southeast</option>
        <option value="3">east</option>
        <option value="4">northeast</option>
        <option value="5">north</option>
        <option value="6">northwest</option>
        <option value="7">west</option>
        <option value="8">southwest</option>
      </select>
    </label>
    <label>HP AHRI# <input type="tel" pattern="[\d]{6,9}" name="AHRI" size="9"></label>
    <br>
    Interior dimensions:<br>
    <label>mperim*<input name="mperim" type="tel" required style="width: 5ch"></label>
    <label>marea*<input name="marea" type="tel" required style="width: 5ch"></label>
    <label>aflht<input name="aflht" type="tel" style="width: 5ch"></label>
    <label>ta_delta<input name="ta_delta" type="tel" style="width: 5ch"></label>
    <label>tp_delta<input name="tp_delta" type="tel" style="width: 5ch"></label>
    <br>
    <label>Client first name*<input name="_First" required style="width: 14ch"></label>
    <label>Client last name*<input name="_Last" required style="width: 18ch"></label>
    <label>Telephone<input type="tel" name="_Telephone" style="width: 12ch"></label>
    <label>email<input type="email" name="_Email" style="width: 25ch"></label>
    <br>
    House details:<br>
    <label>Street<input name="_Street" style="width: 20ch"></label>
    <label>City<input name="_City" style="width: 15ch"></label>
    <label>Province<input name="_Province" size=12></label>
    <label>Postal<input name="_Postal" size=6></label><br>
    <label>Year built<input name="_YearBuilt" size=4></label>
    <label>Weather station<input name="weather"></label><br>
    <div v-scope="{counts: {WndwF: 1, WndwL: 1, WndwB: 1, WndwR: 1}}">
      <template id="H2KWindow-tmpl">
        <td>
          <select :name="'_T' + wname + c">
            <option value="Code 12">200024</option>
            <option value="Code 14">233214</option>
            <option value="Code 15">233224</option>
            <option value="Code 11">200004</option>
            <option value="Code 13">233204</option>
          </select>
        </td>
        <td><input type="tel" :name="'_C' + wname + c" value="1" maxlength="1" pattern="[\d]" style="width: 1ch"></td>
        <td><input type="tel" :data-var="wname" :name="'H' + wname + c" value="0" style="width: 3ch"
                   @blur="addWindow(event.target, counts)"></td>
        <td><input type="tel" :name="'W' + wname + c" value="0" style="width: 3ch"></td>
        <td><input :name="'_N' + wname + c" style="width: 10ch"></td>
      </template>
      <br>
      Windows: <a href="/WindowCodes.txt" target="_blank">H2K window codes</a>
      <table>
        <tr><th>Name</th><th>Type</th><th>#</th><th>Hgt</th><th>W-d</th><th>Note</th></tr>
        <template v-for="c in counts['WndwF']">
          <tr v-scope="H2KWindow({wname: 'WndwF'})"><td>front{{c}}</td></tr>
        </template>
        <template v-for="c in counts['WndwL']">
          <tr v-scope="H2KWindow({wname: 'WndwL'})"><td>left{{c}}</td></tr>
        </template>
        <template v-for="c in counts['WndwB']">
          <tr v-scope="H2KWindow({wname: 'WndwB'})"><td>back{{c}}</td></tr>
        </template>
        <template v-for="c in counts['WndwR']">
          <tr v-scope="H2KWindow({wname: 'WndwR'})"><td>right{{c}}</td></tr>
        </template>
      </table>
    </div>
    <input type="submit" value="Create H2K file">
    </form>
    <br>
    <a href="https://oee.nrcan.gc.ca/pml-lmp/index.cfm?action=app.search-recherche&appliance=HP_SS" target="_blank">NRCan ASHP lookup</a>
	<script src="ghw.js"></script>
  <script src="https://unpkg.com/petite-vue" defer init></script>
  <script>
    function addWindow(t, counts){
      if (t.value > 0) counts[t.getAttribute('data-var')]++;
    }

    <!-- window template function -->
    function H2KWindow(props){
      return {
        $template: '#H2KWindow-tmpl',
        wname: props.wname
      }
    }
  </script>
  </body>
</html>

