  <body> 
    <h1 style="color:DarkGreen;">H2K Builder v1.6.1</h1>
    <!--
    <a href="/GHWizDefaults.txt" target="_blank">house defaults</a>
    -->
    <p>
    <form action="/cgi-bin/ghww.py" method="get" id="aanq" autocomplete="off">
    <!-- field names prefixed with '_' will be converted to house template macros -->
    <label>File ID
      <input name="_FileID" pattern="[\w]{4}D[\d]{5}" autocapitalize=characters required style="width: 11ch" onchange="document.title = this.value">
    </label>
    <label>Tax number
      <input name="_AAN" inputmode=numeric size=8 pattern="[\d]{8}" required onchange="findAAN(this.value)">
    </label>
    <label>House faces
      <select name="FacingDirection" required>
        <option value="">choose</option>
        <option value="1">south</option>
        <option value="2">sou'east</option>
        <option value="3">east</option>
        <option value="4">nor'east</option>
        <option value="5">north</option>
        <option value="6">nor'west</option>
        <option value="7">west</option>
        <option value="8">sou'west</option>
      </select>
    </label>
    <label>Storeys
      <select name="_Storeys" required>
        <option value="">choose</option>
        <option value="1">1 storey</option>
        <option value="2">1.5</option>
        <option value="3">2 storey</option>
        <option value="4">2.5</option>
        <option value="5">3 storey</option>
        <option value="6">split lvl</option>
        <option value="7">splt ntry</option>
      </select>
    </label>
    <pre id="taxdb">Tax number required</pre>
    <label>Client first name<input name="_First" required style="width: 14ch"></label>
    <label>Client last name<input name="_Last" required style="width: 18ch"></label>
    <label>Telephone<input inputmode=numeric name="_Telephone" style="width: 12ch"></label>
    <label>email<input type="email" name="_Email" style="width: 23ch"></label>
    <br>
    <label>Street<input name="_Street" style="width: 20ch"></label>
    <label>City<input name="_City" style="width: 15ch"></label>
    <label>Province<input name="_Province" size=10></label>
    <label>Postal<input name="_Postal" size=5></label><br>
    <label>Yr built<input name="_YearBuilt" required inputmode=numeric pattern="[\d]{4}" size=3></label>
    <label>Weather station<input name="weather" size="10"></label><br>
    <p>
    Interior dimensions:<br>
    <label>MPerim
      <input name="mperim" placeholder="feet" inputmode=numeric required
       pattern="[1-2]?[\d]{2}" style="width: 5ch">
    </label>
    <label>MArea
      <input name="marea" placeholder="sqft" inputmode=numeric required
       pattern="[1-2]?[\d]{3}" style="width: 5ch">
    </label>
    <label title="Above Foundation Wall Height">WHgt
      <input name="aflht" inputmode=numeric placeholder="feet" required
       pattern="[1-2]?[\d]" style="width: 4ch">
    </label>
    <label>TP &#916;<input name="tp_delta" placeholder="feet" inputmode=numeric style="width: 4ch"></label>
    <label>TA &#916;<input name="ta_delta" placeholder="sqft" inputmode=numeric style="width: 4ch"></label>
    <label title="Above Grade Height of Highest Ceiling">AGHHC
      <! pattern="[1-3]?[\d]" data-units="ftm" style="width: 4ch">
      <input name="_AGCHt" inputmode=numeric placeholder="feet" required
       data-units="ftm" style="width: 4ch">
    </label>
    <p>
    <label>Main walls
      <select name="wall" required>
        <option value="">choose</option>
        <option>2x6R19</option>
        <option>2x6R24</option>
        <option>2x4R12</option>
        <option>ICF</option>
        <option>2x4 RC</option>
        <option>2x4R14</option>
      </select>
    </label>
    <label>+foam
      <select name="foam">
        <option>none</option>
        <option>1" EPS</option>
        <option>1" XPS</option>
        <option>1.5 EPS</option>
      </select>
    </label>
    <label>headers
      <select>
        <option>none</option>
        <option>2x8</option>
        <option selected>2x10</option>
        <option>12"</option>
      </select>
    </label>
    <label>R-
      <input name="headerR" inputmode=numeric required pattern="[\d]{1,2}" size=2>
    </label>
    <p>
    <label>Attic
      <select name="attic">
        <option>gable</option>
        <option>hip</option>
        <option>cathedr</option>
        <option>flat</option>
        <option>scissor</option>
      </select>
    </label>
    <label>Insulation
      <select name="AIType" required>
        <option value="">choose</option>
        <option>cellulose</option>
        <option>fibreglas</option>
        <option>FG batt</option>
        <option>LD foam</option>
      </select>
    </label>
    <label>depth
      <input name="AIDepth" inputmode=numeric pattern="[\d]{1,2}" required size=2 placeholder="inch">
    </label>
    <label>eave
      <input inputmode=numeric data-units="ftm" name=_EaveLen required size=2 placeholder="feet">
    </label>
    <p>
    <div v-scope="{fnd: 'bsmt'}">
      <label>foundation
        <select name="_Foundation" v-model="fnd">
          <option>bsmt</option>
          <option>slab</option>
        </select>
      </label>
      <span v-if="fnd == 'bsmt'">
        <label title="bsmt wall height">height
          <! input name="_BHt" inputmode=numeric pattern="[\d]{2,3}" data-units="inm" size=2 required placeholder="inch">
          <input name="_BHt" inputmode=numeric data-units="inm" size=2 required placeholder="inch" onchange="calcBsmtDepth()">
        </label>
        <label>interior
          <select>
            <option>2x4R12</option>
            <option>2x6R19</option>
            <option>1" EPS</option>
            <option>2" EPS</option>
            <option>1" XPS</option>
            <option>2" SpF</option>
            <option>none</option>
          </select>
        </label>
        <label title="average foundation height above ground">HAG
          <input name="HAG" inputmode=numeric pattern="[\d]+" size=2 required placeholder="inch" onchange="calcBsmtDepth()">
        </label>
        <label title="pony wall height">pony
          <! input name="_PonyHt" inputmode=numeric pattern="[\d\.]+" data-units="inm" size=2 required placeholder="inch">
          <input name="_PonyHt" inputmode=numeric data-units="inm" size=2 required placeholder="inch">
        </label>
        <input name="_BDBG" type=hidden>
      </span>
      <span v-if="fnd == 'slab'">
        <label>R-value
          <input inputmode=numeric pattern="[\d]{1,2}" size=2>
        </label>
      </span>
    </div>
    <div>
      <p>
      <label>HRV make<input name="_HRVmake" size=7></label>
      <label>model<input name="_HRVmodel" size=6></label>
    </div>
